.aside-dark{
    background-color: black;
    color: white;
}

.search-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttons-above{
    display: flex;
    flex-direction: row;
    gap: 50px;
}